@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: rgb(58 69 94);
}

@font-face {
  font-family: "HeadFont";
  src: url("../fonts/font.ttf") format("truetype");
}

h1, h2, h3 {
  font-family: "HeadFont", sans-serif;
}
